*,
html,
body {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: "Source Sans Pro", sans-serif
} 

.container {
	margin: 10% auto;
	width: 400px;
	padding: 20px 10px;
	background-color: #464646;
	border-radius: 10px;
}
.input-container {
	border: 1px solid #ee4;
}
input {
	width: 100%;
	display: block;
	padding: 20px;
	border: 0;
}
#subDisplay {
	padding: 20px;
	height: 40px;
	border-top: 1px solid #eee;
	background-color: #fff;
	color: #000;
}
table {
	border-collapse: collapse;
	width: 100%;
	padding: 5px;
}
td {
	background-color: green;
	border: 1px solid #fff;
	box-shadow:  1px 1px 1px 3px #ccc;
}
td button{
	display: block;
	width: 100%;
	padding: 10px 20px;
	outline: 0;
	border: 0;
	text-align: center;
	font-size: 1rem;
	background-color: #292e35;
	color: #fff;
	font-weight: 700;
}